.boxforopp{
    display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}
.boxopri{
    width: 60%;
    height: max-content;
}
.boxople{
    width: 30%;
    height: max-content;
}
.form{
    margin: 10px;
}
.carddata{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}

.card-grid{
    height: 90vh;
    display: grid;
    grid-template-rows: 4fr;
}

.headapplication{
    height: 90vh;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px;
}
.carddata{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 30px;
}
.cardamountcollected, .cardamountwithdrawn{
    padding: 15px 30px;
    border: 1px black solid;
    border-radius: 10px;
    background-color: palegoldenrod;
}
.wdr-icn{
    width: 25px;
    height: 25px;
}
.wdr-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 20px;
}
.Borrowbtn{
    border: none;
    background-color: #A367b1;
    color: #fff;
    border-radius: 7px;
}