.logo{
    width: 100px;
    margin-right: 20px;
    border: 1px black dotted;
}
nav{
    padding: 0px var(--padding-inline—section);
    width: 100%;
    height: 10vh;
    background-color: #371B58;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.deck1{
    height: 80%;
    display: flex;
    margin-left: 20px;
}
.quick-link{
    width: 100px;
    height: 100%;
    transition: 2ms ease-out;
}
.quick-link:hover{
    color: #ffd1e3;
    font-size: 14px;
}
.deck2{
    height: 80%;
    display: flex;
    gap: 20px;
}
.nav-btn{
    width: 40%;
    height: 100%;
    background: #ffd1e3;
    color: #371B58;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    transition: 0.2s ease-out;
    overflow: hidden;
}
.nav-btn:hover{
    background: #A367B1;
    color: #ffd1e3;
}
.navbar-links{
    color: #fff;
    text-decoration: none;
}
.navbar-links:hover{
    color: #ffd1e3;
}